In [2]:
if 'hello':
    print(1)
else:
    print(0)

1

In [2]:
"test"

'test'

In [142]:
def fibonacchi(n):
    list=[0,0,1]
    if n<=2:
        return list[n]
    else:
        for i in range(3,n+1):
            list.append(list[i-1]+list[i-2])
    return list[n], sum(list)

In [144]:
fibonacchi(8)

(13, 33)

In [51]:
def big_sum(a,b,base=10):
    if len(a)<=len(b):
        a = '0'*abs(len(a)-len(b))+a
    else:
        b='0'*abs(len(a)-len(b))+b
    total=[0]
    for i in range(len(a)):
        aux = int(a[-(i+1)])+int(b[-(i+1)])
        if aux<base:
            total[-(i+1)] += aux
            total.insert(0,0)
        else:
            total[-(i+1)] += aux % base
            total.insert(0,1)
    return str(int(''.join([str(item) for item in total])))

In [57]:
a = "74"
b='234759283'
big_sum(a,b)

'234759357'

In [59]:
c = int(a)+int(b)
c

234759357

In [8]:
import pandas as pd
df1 = pd.DataFrame({
    'name' : ['Mike', 'Sam', 'Bill'],
    'age' : [23, 25, 29],
    'height': [176, 192, 182]
})

df2 = pd.DataFrame({
    'name' : ['Mike', 'John', 'Bill'],
    'salary' : [100, 120, 150],
    'tax': [0, 13, 0]

df1.merge(df2, on = 'name', how = 'right')

   name   age  height  salary  tax
0  Mike  23.0   176.0     100    0
1  John   NaN     NaN     120   13
2  Bill  29.0   182.0     150    0

In [52]:
def multsum(l):
    sum_l=0
    for i in range(len(l)):
        l_new  = l[:i]+l[i+1:]
        mult = 1
        for j in range(len(l_new)):
            mult = mult*l_new[j]
        sum_l+=mult
    return sum_l

In [56]:
a = [0,0,5]
multsum(a)

0

In [57]:
a[::-1]

[5, 0, 0]

In [1]:
from scipy.stats import t

In [2]:
t.cdf(x = 2.02, df = 5)

0.9503148564921867

In [3]:
import numpy as np
import scipy.stats as st

In [7]:
st.norm(loc = 0, scale = 10).ppf(0.95)

16.448536269514722

In [10]:
st.norm(loc = 5, scale = 10).cdf(16.45)

0.8738954213121155

In [13]:
st.norm(loc = 0, scale = 5).ppf(0.95)

8.224268134757361

In [15]:
st.norm(loc = 5, scale = 5).cdf(8.22)

0.7402122830033209

In [3]:
spots = np.array([[2,3,4,5,6,7], # имя переменной spots по-английски значит «пятна»
    [3,4,5,6,7,8], 
    [4,5,6,7,8,9], 
    [5,6,7,8,9,10], 
    [6,7,8,9,10,11],
    [7,8,9,10,11,12]])

In [4]:
spot_counts = {}

for i in range(0, 6):
        for j in range(0, 6):
                if spots[i][j] not in spot_counts.keys():
                        spot_counts[spots[i][j]] = 1
                else:
                        spot_counts[spots[i][j]] += 1

print(spot_counts)

{2: 1, 3: 2, 4: 3, 5: 4, 6: 5, 7: 6, 8: 5, 9: 4, 10: 3, 11: 2, 12: 1}

In [7]:
spot_probs={k:spot_counts[k]/36 for k in spot_counts}
print(spot_probs)

{2: 0.027777777777777776, 3: 0.05555555555555555, 4: 0.08333333333333333, 5: 0.1111111111111111, 6: 0.1388888888888889, 7: 0.16666666666666666, 8: 0.1388888888888889, 9: 0.1111111111111111, 10: 0.08333333333333333, 11: 0.05555555555555555, 12: 0.027777777777777776}

In [11]:
for i in range(0,6):
    print(i)

0
1
2
3
4
5

In [1]:
a = [368, 113, 328, 447, 1, 156, 335, 233, 
                       308, 181, 271, 239, 411, 293, 303, 
                       206, 196, 203, 311, 205, 297, 529, 
                       373, 217, 416, 206, 1, 128, 16, 214]
b = [451, 182, 469, 546, 396, 630, 206, 
                        130, 45, 569, 434, 321, 374, 149, 
                        721, 350, 347, 446, 406, 365, 203, 
                        405, 631, 545, 584, 248, 171, 309, 
                        338, 505]

In [41]:
a = np.asarray(a)
b = np.asarray(b)
n = a.shape[0]
d = a-b
np.var(d, ddof = 1)

34106.03333333333

In [39]:
np.sqrt(np.var(d, ddof = 1))

184.6781885695583

In [10]:
result = st.ttest_rel(a,b)
result.statistic

-3.9257591682405732

In [42]:
d

array([ -83,  -69, -141,  -99, -395, -474,  129,  103,  263, -388, -163,
        -82,   37,  144, -418, -144, -151, -243,  -95, -160,   94,  124,
       -258, -328, -168,  -42, -170, -181, -322, -291])

In [48]:
np.sort(d)

array([-474, -418, -395, -388, -328, -322, -291, -258, -243, -181, -170,
       -168, -163, -160, -151, -144, -141,  -99,  -95,  -83,  -82,  -69,
        -42,   37,   94,  103,  124,  129,  144,  263])